<div class="footer-container">
    <div class="footer-logo">
        fdsa
    </div>
    <div class="footer-services">
        <span class="footer-title">SERVICES</span>
        <span>
            Mobile app development
        </span>
        <span>
            Web development 
        </span>
        <span>
            Desktop software development 
        </span>
        <span>
            UI creative
        </span>
        <span>
            Quality assurance 
        </span>
    </div>
    <div class="footer-domains">   
        gfsd
    </div>
    <div class="footer-contacts">
        fdgsa
    </div>
</div>