<div class="footer-container">
    <div class="footer-logo">
        <app-logo></app-logo>
        <div class="logo-text-container">
            <span>Elite</span>
            <span>technologies</span>
        </div>
    </div>
    <div class="footer-item">
        <span class="footer-title">SERVICES</span>
        <a class="footer-text">
            Mobile app development
        </a>
        <a class="footer-text">
            Web development 
        </a>
        <a class="footer-text">
            Desktop software development 
        </a>
        <a class="footer-text">
            UI creative
        </a>
        <a class="footer-text">
            Quality assurance 
        </a>
    </div>
    <div class="footer-item">
        <span class="footer-title">DOMAINS</span>
        <a class="footer-text">
            Logistics 
        </a>
        <a class="footer-text">
            Education 
        </a>
        <a class="footer-text">
            Financial 
        </a>
        <a class="footer-text">
            IoT 
        </a>
        <a class="footer-text">
            Healthcare 
        </a>
    </div>
    <div class="footer-contacts">
        <span class="footer-text">
            Pixel Soft LLC
        </span>
        <span class="footer-text">
            NIP 6793305570
        </span>
        <span class="footer-text">
            Czyzowka 14/1.3.2 30-526,<br>
            Krakow, Poland
        </span>
        <span class="footer-link">
            info&#64;el-pixel.com
        </span>
    </div>
</div>
