<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <app-logo></app-logo>
      <div class="header__logo-text">
        <span>Elite</span>
        <span>technologies</span>
      </div>
    </div>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link">About us</a></li>
        <li class="nav__item"><a class="nav__link">Services</a></li>
        <li class="nav__item"><a class="nav__link">Domains</a></li>
        <li class="nav__item"><a class="nav__link">Contact us</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__banner">
    <span class="banner__title">Elite technologies </span>
    <br>
    <span class="banner__title">for future</span>
    <span class="banner__subtitle">We are your reliable partner in the world of innovative IT
    <br> solutions. Discover new horizons with us. Together we will <br>
    turn your ideas into reality, ensuring technological <br>
    superiority of your business.
    </span>
  </div>
</header>
