.domain-container {
    height: 434px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F7F8FC;
}

.domain-panel {
    display: flex;
    justify-content: space-between;
}

.arrows-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.domain-title {
    font-size: 32px;
    color: #0B077C;
}

.icon {
    cursor: pointer;
}

.card-container {
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.card {
    height: 223px;
    width: 712px;
    border-radius: 20px;
    border: 1px solid #716363;
    background-color: #FFFFFF;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    gap: 60px;
}

.card-title {
    font-size: 14px;
    color: #0B077C;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -5px;
}

.card-big-text {
    font-size: 20px;
    color: #0B077C;
}

.card-little-text {
    font-size: 14px;
    color: #0B077CCC;
}