<div class="header">
  <app-header></app-header>
</div>

<div class="main">
  <router-outlet></router-outlet>
   <div class="domain-container">
    <div class="domain-panel">
      <span class="domain-title">Domains</span>
      <div class="arrows-container">
        <!-- <img src="assets/icons/back.svg" alt="" class="icon">
        <img src="assets/icons/next.svg" alt="" class="icon"> -->
        <mat-icon svgIcon="backIcon" class="icon"></mat-icon>
        <mat-icon svgIcon="nextIcon" class="icon"></mat-icon>
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <span class="card-title">LOGISTICS</span>
        <div class="card-text-container">
          <span class="card-big-text">We have extensive experience in developing software products for logistics companies</span>
          <span class="card-little-text">Elite technologies develops specialized software for document management automation, which significantly reduces information processing time and reduces the likelihood of errors.</span>
        </div>
      </div>
      <div class="card">
        <span class="card-title">EDUCATION</span>
        <div class="card-text-container">
          <span class="card-big-text">We have extensive experience in developing software products for logistics companies</span>
          <span class="card-little-text">Elite technologies develops specialized software for document management automation, which significantly reduces information processing time and reduces the likelihood of errors.</span>
        </div>
      </div>
    </div>
   </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
