<section class="about-us">
  <div class="service-intro">
  <span>
    Elite technologies offers an <br>
    individual approach to each <br>
    project, developing solutions <br>
    for each client
  </span>
  </div>

  <div class="services-info">
    <div class="service-box">
        <img src="assets/business-1.svg" alt="" class="service-icon">
        <div class="service-box__text">
          <span>Automation and optimization of business processes</span>
        <p>Implementation of CRM systems, ERP solutions and other specialized software products
          allows enterprises to reduce costs, increase efficiency and improve interaction with clients.</p>
        </div>
    </div>
    <div class="service-box">
      <img src="assets/business-2.svg" alt="" class="service-icon">
      <div class="service-box__text">
        <span>Development and support of information systems</span>
        <p>Includes the creation of websites, mobile applications, databases and other
          IT infrastructures necessary for the functioning of a business in the digital world. </p>
        </div>
    </div>
    <div class="service-box">
      <img src="assets/business-3.svg" alt="" class="service-icon">
      <div class="service-box__text">
        <span>Innovations and development of new technologies</span>
        <p>Elite technologies ensure stable operation of systems, their security and constant updating.
          We offer new opportunities for business</p>
        </div>
    </div>
  </div>
</section>

<section>
<div class="domain-container">
  <div class="domain-panel">
    <span class="domain-title">Domains</span>
    <div class="arrows-container">
      <img src="assets/icons/back.svg" alt="" class="icon">
      <img src="assets/icons/next.svg" alt="" class="icon">
      <!-- <mat-icon svgIcon="backIcon"></mat-icon>
      <mat-icon svgIcon="nextIcon"></mat-icon> -->
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <span class="card-title">LOGISTICS</span>
      <div class="card-text-container">
        <span class="card-big-text">We have extensive experience in developing software products for logistics companies</span>
        <span class="card-little-text">Elite technologies develops specialized software for document management automation, which significantly reduces information processing time and reduces the likelihood of errors.</span>
      </div>
    </div>
    <div class="card">
      <span class="card-title">EDUCATION</span>
      <div class="card-text-container">
        <span class="card-big-text">We have extensive experience in developing software products for logistics companies</span>
        <span class="card-little-text">Elite technologies develops specialized software for document management automation, which significantly reduces information processing time and reduces the likelihood of errors.</span>
      </div>
    </div>
  </div>
 </div>
</section>
