<section class="about__us">
  <div class="service__intro">
  <span>
    Elite technologies offers an <br>
    individual approach to each <br>
    project, developing solutions <br>
    for each client
  </span>
  </div>

  <div class="services__info">
    <div class="service__box">
        <img src="assets/business-1.svg" alt="" class="service-icon">
        <div class="service__box__text">
          <span>Automation and optimization of business processes</span>
        <p>Implementation of CRM systems, ERP solutions and other specialized software products
          allows enterprises to reduce costs, increase efficiency and improve interaction with clients.</p>
        </div>
    </div>
    <div class="service__box">
      <img src="assets/business-2.svg" alt="" class="service__icon">
      <div class="service__box__text">
        <span>Development and support of information systems</span>
        <p>Includes the creation of websites, mobile applications, databases and other
          IT infrastructures necessary for the functioning of a business in the digital world. </p>
        </div>
    </div>
    <div class="service__box">
      <img src="assets/business-3.svg" alt="" class="service-icon">
      <div class="service__box__text">
        <span>Innovations and development of new technologies</span>
        <p>Elite technologies ensure stable operation of systems, their security and constant updating.
          We offer new opportunities for business</p>
        </div>
    </div>
  </div>
</section>


<section class="services">
  <div class="services__title">
    <span>Services</span>
  </div>
  <div class="services__blocks">
    <button class="services__button_1">
      <span>I.</span>
      <mat-icon svgIcon="arrow"></mat-icon>
      <img src="" alt="" class="services__button_img">
      <span>Mobile app <br> development</span>
    </button>
    <button class="services__button_2">
      <span>II.</span>
      <mat-icon svgIcon="arrow"></mat-icon>
      <img src="" alt="" class="services__button_img">
      <span>Web <br> development</span>
    </button>
    <button class="services__button_3">

      <span>III.</span>
      <mat-icon svgIcon="arrow"></mat-icon>
      <img src="" alt="" class="services__button_img">
      <span>Desktop software <br> development</span>
    </button>
    <button class="services__button_4">
      <span>IV.</span>
      <mat-icon svgIcon="arrow"></mat-icon>
      <img src="" alt="" class="services__button_img">
      <span>UI creative</span>
    </button>
    <button class="services__button_5">
      <span>V.</span>
      <mat-icon svgIcon="arrow"></mat-icon>
      <img src="" alt="" class="services__button_img">
      <span>Quality <br> assurance</span>
    </button>
  </div>
</section>


<section>
<div class="domain__container">
  <div class="domain__panel">
    <span class="domain__title">Domains</span>
    <div class="arrows__container">
      <img src="assets/icons/back.svg" alt="" class="icon">
      <img src="assets/icons/next.svg" alt="" class="icon">
      <!-- <mat-icon svgIcon="backIcon"></mat-icon>
      <mat-icon svgIcon="nextIcon"></mat-icon> -->
    </div>
  </div>

  <div class="card__container">
    <div class="card">
      <span class="card__title">LOGISTICS</span>
      <div class="card__text__container">
        <span class="card__big__text">We have extensive experience in developing software products for logistics companies</span>
        <span class="card__little__text">Elite technologies develops specialized software for document management automation, which significantly reduces information processing time and reduces the likelihood of errors.</span>
      </div>
    </div>
    <div class="card">
      <span class="card__title">EDUCATION</span>
      <div class="card__text-container">
        <span class="card__big__text">We have extensive experience in developing software products for logistics companies</span>
        <span class="card__little__text">Elite technologies develops specialized software for document management automation, which significantly reduces information processing time and reduces the likelihood of errors.</span>
      </div>
    </div>
  </div>
 </div>
</section>
